:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#wrapper #inputsWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 50%;
  justify-content: space-between;
}

#wrapper #mediaControlWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 30%;
  justify-content: space-between;
}

#wrapper label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

#wrapper #inputsWrapper #inputModelButton {
  background-color: #92bcc2;
  color: #242424;
}

#wrapper #inputsWrapper #inputSongButton {
  background-color: #ef9de8;
  color: #242424;
}

#wrapper #inputsWrapper #bpmButton {
  background-color: #f9f9f9;
  color: #242424;
}

#wrapper #inputsWrapper input {
  display: none;
}

#wrapper #renderCanvas {
  width: 100%;
  height: 60%;
  touch-action: none;
}

#wrapper #mediaControlWrapper #playButton {
  background-color: #f9f9f9;
  color: #074c3c;

}

#wrapper #mediaControlWrapper #pauseButton {
  background-color: #074c3c;
  color: #f9f9f9;
}

#wrapper #mediaControlWrapper #stopButton {
  background-color: #5922a8;
  color: #f9f9f9;
}
